<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasySnapApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EasySnapApp.Properties.Settings>
            <setting name="ScaleComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportSiteId" serializeAs="String">
                <value>733</value>
            </setting>
            <setting name="ExportDimUnit" serializeAs="String">
                <value>in</value>
            </setting>
            <setting name="ExportWgtUnit" serializeAs="String">
                <value>lb</value>
            </setting>
            <setting name="ExportVolUnit" serializeAs="String">
                <value>in</value>
            </setting>
            <setting name="ExportFactor" serializeAs="String">
                <value>166</value>
            </setting>
            <setting name="ExportOptInfo2" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="ExportOptInfo3" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="CameraImageQuality" serializeAs="String">
                <value>JPEG_Large</value>
            </setting>
            <setting name="CameraImageFormat" serializeAs="String">
                <value>JPEG</value>
            </setting>
            <setting name="LastPartNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="DimsSiteId" serializeAs="String">
                <value>733</value>
            </setting>
            <setting name="DimsFactor" serializeAs="String">
                <value>166</value>
            </setting>
            <setting name="DimsDimUnit" serializeAs="String">
                <value>in</value>
            </setting>
            <setting name="DimsWgtUnit" serializeAs="String">
                <value>lb</value>
            </setting>
            <setting name="DimsVolUnit" serializeAs="String">
                <value>in</value>
            </setting>
            <setting name="DimsOptInfo2" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="DimsOptInfo3" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="DimsOptInfo8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DimsUpdated" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="DimsEnableOverride" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCollapseParts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SequenceDigits" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SequenceStartNumber" serializeAs="String">
                <value>103</value>
            </setting>
            <setting name="SequenceIncrement" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FilenamePatternString" serializeAs="String">
                <value />
            </setting>
            <setting name="SequencePadding" serializeAs="String">
                <value>True</value>
            </setting>
        </EasySnapApp.Properties.Settings>
    </userSettings>
</configuration>